<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pawan Devkota's Journey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/main.js" defer></script>
    
    
  </head>
  <body>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
    <nav class="navbar sticky-top navbar-custom navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="images/logoo.jpg" id="logo" alt="Logo" width="15" height="15">

                <span class="ms-2">PAWAN DEVKOTA</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="homeejs">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aboutejs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="projectejs">My Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="serviceejs">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="contactejs">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn " style="color:white; background-color: #35631a; " type="submit">Search</button>
                </form>
            </div>
        </div>
</nav>

    
    
        <h1 class="text-center">Our Services</h1>
        <div class="row">
         
            <div class="col-md-6">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="images\c1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><b>Burger Chicken</b></h5>
                            <p> Goat Burger with Crispy tenders</p>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="images\c2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><b>Koto</b></h5>
                            <p>Special Koto prepared with local products.</p>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="images\c3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><b>Periperi Chicken</b></h5>
                            <p>A periperi chicken with extra hot that melts your whole body</p>
                          </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
         
            <div class="col-md-6">
                <div id="carouselExampleAutoplaying1" class="carousel slide" data-bs-ride="carousel1">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="images\gameone.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><b>Developing games</b></h5>
                            <p>we develop online games for youth and kids </p>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="images\gametwoo.png" class="d-block w-100 img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><b>Devloping games</b></h5>
                            <p>we develop online games for youth and kids</p>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="images\gamethree.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><b>Developing games</b></h5>
                            <p>we develop online games for youth and kids</p>
                          </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                
            </div>
          
           
        </div>
    

</body>
</html>
<style>
     .navbar-custom {
        background-color: #51571d;
        border-bottom: 1px solid #ffffff;
    }

    .navbar-custom .navbar-brand {
        color: #ffffff;
        font-weight: bold;
    }

    .navbar-custom .navbar-toggler-icon {
        background-color: #ffffff;
    }

    .navbar-custom .navbar-toggler:focus,
    .navbar-custom .navbar-toggler:active {
        outline: none;
    }

    .navbar-custom .navbar-nav .nav-link {
        color: #ffffff;
        font-weight: bold;
    }

    .navbar-custom .navbar-nav .nav-link:hover {
        color: #ff6f61;
    }
    .btn {
        padding: 10px 30px;
        font-size: 18px;
        background-color: #35631a;
        border-color: #ffffff;
        border-radius: 50px;
    }
</style>